In [2]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as Soup
from requests import get

In [5]:
pages = np.arange(1,477,30)

In [6]:
pages

array([  1,  31,  61,  91, 121, 151, 181, 211, 241, 271, 301, 331, 361,
       391, 421, 451])

In [16]:
Company = []
Revenue = []
No_of_employees = []
location = []
rating = []
no_of_reviews = []
former_clients = []
for page in pages:
    url= get("https://themanifest.com/in/it-services/companies?page="+str(page)+"")
    request=url.text
    data=Soup(request,'html.parser')
    comp = data.findAll('li',{'class':'views-row'})
    for i in comp:
        if i == comp[1]:
            print('no')
        else:
            Company.append(i.find('span',{'class':''}).text)
            Revenue.append(i.find('span',{'class':'prj-size'}).text.split()[0])
            No_of_employees.append(i.find('span',{'class':'empl'}).text)
            location.append(i.find('span',{'class':'comp-addr'}).text)
            rating.append(i.find('div',{'class':'widget-total-reviews'}).text)
            no_of_reviews.append(i.find('span',{'class':'count'}).text.split()[0])
            try:
                former_clients.append(i.findAll('div',{'class':'field--item'})[1].text.split()[0])
            except:
                former_clients.append('No Clients')

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no

In [17]:
Comp_Data = list(zip(Company,Revenue,No_of_employees,location,rating,no_of_reviews,former_clients))

In [18]:
df = pd.DataFrame(Comp_Data,columns=['Company','Revenue','No_of_employees','location','rating','no_of_reviews','former_clients'])

In [19]:
df

,Company,Revenue,No_of_employees,location,rating,no_of_reviews,former_clients
0,Surekha Technologies Pvt Ltd,"$5,000+",10 - 49 Employees,"Ahmedabad, India",4.9,5,ValueHub
1,Jobin And Jismi IT Services LLP,"$1,000+",50 - 249 Employees,"Thrissur, India",5.0,5,No Clients
2,PopcornApps,Undisclosed,250 - 999 Employees,"Hyderabad, India",4.3,3,Intel
3,DataFactZ,"$10,000+",250 - 999 Employees,"Hyderabad, India",4.7,6,Coca
4,ABSYZ,"$5,000+",10 - 49 Employees,"Hyderabad, India",5.0,1,Report
...,...,...,...,...,...,...,...
415,Nanovise Inc.,"$1,000+",10 - 49 Employees,"Bhubaneswar, India",4.5,1,No Clients
416,INEXTURE Solutions LLP,"$10,000+",50 - 249 Employees,"Ahmedabad, India",5.0,1,MeeTwo
417,InfiDoor Technologies,"$1,000+",2 - 9 Employees,", India",5.0,1,Chahai
418,ONE SEO,"$1,000+",10 - 49 Employees,"Jaipur, India",5.0,1,Hexagon
419,Augmetic Technology,"$1,000+",10 - 49 Employees,"Ahmedabad, India",5.0,2,No Clients

In [20]:
df.to_csv("Top_100_companies.csv")