In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as Soup
from requests import get

In [33]:
url = get("https://www.partykaro.com/PartyVenue/Delhi/AllVenueType/default.aspx?Capacity=201-300&page=1")

In [34]:
request = url.text

In [35]:
data = Soup(request,'html.parser')

In [36]:
rest = data.findAll('div',{'class':'col-md-4 w3ls-left'})

In [37]:
first = rest[0]

In [38]:
first.find('span',{'class':'StarRating center1 rating-4 regular'}).text.strip()   # rating

'4.8'

In [39]:
first.find('span',{'class':'venue-type'}).text #type

'Banquet Halls'

In [40]:
first.find('h2',{'class':'clientname'}).text.strip() #name

'Sanskriti Banquet and ...'

In [41]:
first.find('span',{'class':''}).text #location

'Mundka Delhi - 110041'

In [51]:
first.findAll('span',{'class':'spantag'})[1].text  #capacity

'100-2000 Pax.'

In [54]:
first.find('span',{'id':'lblCostPerPerson1'}).text #charges per person

'1200.00'

In [55]:
pages = np.arange(1,10)

In [56]:
pages

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [57]:
Name = []
Type = []
Rating = []
Location = []
Capacity = []
Charges_per_person = []
for page in pages:
    url = get("https://www.partykaro.com/PartyVenue/Delhi/AllVenueType/default.aspx?Capacity=201-300&page="+str(page)+"")
    request = url.text
    data = Soup(request,'html.parser')
    rest = data.findAll('div',{'class':'col-md-4 w3ls-left'})
    for i in rest:
        Name.append(i.find('h2',{'class':'clientname'}).text.strip())
        Type.append(i.find('span',{'class':'venue-type'}).text)
        try:
            Rating.append(i.find('span',{'class':'StarRating center1 rating-4 regular'}).text.strip() )
        except:
            Rating.append("Unrated")
        Location.append(i.find('span',{'class':''}).text)
        Capacity.append(i.findAll('span',{'class':'spantag'})[1].text)
        try:
            Charges_per_person.append(i.find('span',{'id':'lblCostPerPerson1'}).text)
        except:
            Charges_per_person.append("Not Specified")

In [58]:
dt = list(zip(Name,Type,Rating,Location,Capacity,Charges_per_person))

In [59]:
df = pd.DataFrame(dt,columns=['Name','Type','Rating','Location','Capacity','Charges_per_person'])

In [60]:
df

,Name,Type,Rating,Location,Capacity,Charges_per_person
0,Priyanka Party Hall,Banquet Halls,4.9,Dwarka Delhi - 110075,50-550 Pax.,1100.00
1,The Panchshila Rendez ...,Banquet Halls,4.6,Malviya Nagar Delhi - 110017,30-250 Pax.,1400.00
2,Le Diamonds,Banquet Halls,4.6,Yamuna Vihar Delhi - 110053,100-1500 Pax.,1100.00
3,Landmarx banquet,Banquet Halls,4.0,Peeragarhi Delhi - 110041,30-700 Pax.,700.00
4,Cafe After Hours,Restaurant,4.5,Paschim Vihar Delhi - 110063,10-300 Pax.,700.00
...,...,...,...,...,...,...
255,SK Westend Banquets,Banquet Halls,0.0,Janakpuri Delhi - 110058,100-1000 Pax.,1200.00
256,Sk Premium Park,Hotels,3.0,Hari Nagar Delhi - 110064,50-250 Pax.,900.00
257,Shubh Nimantran,Banquet Halls,0.0,Kirti Nagar Industrial Area Delhi - ...,100-1000 Pax.,1000.00
258,Silver Petal,Banquet Halls,0.0,Karkar Dooma Delhi - 110092,200-1000 Pax.,1100.00
259,World Art Dining,Banquet Halls,0.0,Punjabi Bagh Delhi - 110026,30-250 Pax.,1000.00

In [62]:
df.to_csv("Hotels.csv")